@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;

  /* background-color: blue; */
}

body{
  transition: background-color 0.25s linear;
}

p, svg, h1, h2, h3, h4, h5, h6{
  transition: all 0.25s linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#e8eaf6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #43588c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#2c437e; 
}

.MuiTouchRipple-rippleVisible {
  color: #9fa8da !important;
}
